groups:
- name: host
  rules:
  - alert: InstanceDown
    expr: up == 0
    for: 30s
    labels:
      severity: critical
    annotations:
      summary: "????????: ?????? {{ $labels.instance }} ??????????!"
